@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.título {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;       
}

.título img {
  width: 80px;            
  height: auto;
}

h1 {
  font-size: 80px;
  font-family: "Poppins";
  padding: 3px 10px;
  background-color: #9fc7ff;
  border-radius: 30px;
}

body {
  text-align: center;
}

.inputInicial {
  padding: 10px;
}

label {
  display: inline-block;
  padding: 5px;
}

button {
  padding: 10px;
}